ex1-2.zip
/Weeks 7-8/ex4-2/birth-rate.csv
/Weeks 7-8/ex4-2/birth-rates-yearly.csv
/Weeks 7-8/ex4-2/crimerates-by-state-2005.csv
/Weeks 7-8/ex4-2/life-expectancy.csv
/Weeks 7-8/ex4-2/tv_sizes.txt
/Weeks 7-8/.RData
/Weeks 7-8/.Rhistory
/Weeks 7-8/King_Ramsey_DSC_640_Weeks_7_8_Exercise_4_2.ipynb
/Weeks 7-8/King_Ramsey_DSC_640_Weeks_7_8_Exercise_4_2.pbix
/Weeks 7-8/King_Ramsey_DSC_640_Weeks_7_8_Exercise_4_2.R
